body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    /*background-color: white;*/
}
.image-1 {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.container {
    margin-top: -17px;
}
.nav-bar {
    position: fixed;
}
.content {
    position: absolute;
    margin-top: 15%;
    margin-left: 42%;
    color: white;
    background-color: #7e7c7c;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
}
.main {
    position: absolute;
    height: 200%;
    color: #777;
    top: 70%;
    left: 44%
}
.lorem {
    position: absolute;
    top: 80%;
    color: #777;
    left: 150px;
    right: 150px;
}
.two-container {
    position: absolute;
    top: 100%;
    color: #777;
    display: flex;
}
.left{
    margin-left: 250px;
    text-align: center;
    width: 500px;
}
.right {
    margin-top: 5px;
    margin-right: 200px;
    margin-left: 160px;
}
.image-2{
    height: 300px;
    width: 500px;
    padding-top: 40px;
}
.good{
    position: absolute;
    top: 155%;
    left: 45%;
    color: #777;
    font-size: 30px;
}
.photgraphy {
    position: absolute;
    top: 164%;
    left: 10%;
    color: #777;
}
.skills-90{
    position: absolute;
    top: 170%;
    left: 7%;
    color: #777;
}
.progress-90{
    background-color: rgb(192, 192, 192);
    width: 90%;
}
.skill-bar {
    background-color: #777777;
    color: white;
    text-align: center;
    padding: 1%;
}
.progress-90-per{
    width: 90%;
}
.web-design{
    position: absolute;
    top: 178%;
    left: 10%;
    color: #777;
}
.skills-85{
    position: absolute;
    top: 185%;
    left: 7%;
    color: #777;
}
.progress-85{
    background-color: rgb(192, 192, 192);
    width: 90%;
}
.progress-85-per{
    width: 85%;
}